<div class="row">
  <div class="col-xs-4">
    <div class="details details-single">Types: <div class="card-info">{{cardOne.types}}</div></div>
  </div>
  <div class="col-xs-4">
    <div *ngIf="cardOne.subtypes && cardOne.subtypes.length > 0"
         class="details details-single">
      Sub Types:
      <div class="card-info">{{cardOne.subtypes}}</div>
    </div>
  </div>
  <div class="col-xs-2">
    <div *ngIf="cardOne.power"
         class="details details-single">
      Power:
      <div class="card-info">{{cardOne.power}}</div>
    </div>
  </div>
  <div class="col-xs-2">
    <div *ngIf="cardOne.toughness"
         class="details details-single">
      Toughness:
      <div class="card-info">{{cardOne.toughness}}</div>
    </div>
  </div>
</div>
