<div *ngIf="cardOne">
  <div class="row">
    <div class="col-xs-6">
      <div class="details details-single">Mana Cost: <div class="card-info">{{cardOne.manaCost}}</div></div>
    </div>
    <div class="col-xs-6">
      <div class="details details-single">CMC: <div class="card-info">{{cardOne.cmc}}</div></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div class="details details-single">Colors: <div class="card-info">{{cardOne.colors}}</div></div>
    </div>
    <div class="col-xs-6">
      <div class="details details-single">Color Identity: <div class="card-info">{{cardOne.colorIdentity}}</div></div>
    </div>
  </div>
</div>
