<div class="well">
  <span>(slow on cold start)</span>
  <h3>Search MTG cards by name:</h3>
  <form #cardForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text" class="form-control"
        id="name" required [(ngModel)]="model.name"
        name="name" autocomplete="off"
        (keyup)="searchTerm$.next($event.target.value)"
        placeholder="Cryptic">
    </div>

    <ul *ngIf="results">
      <li *ngFor="let result of results | paginate : { itemsPerPage: 10, currentPage: p }">
        <a [routerLink]="['/byname/', result]" class="result" (click)="getCard(result); clearForm()">
          {{result}}
        </a>
      </li>
    </ul>
  </form>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
